/* ==== Universal Styles ==== */

* {
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

header img {
    float: left;
    margin: 10px 10px 9px 10px;
    height: 50px;
}

nav {
    float: right;
    width: 450px;
    max-width: 100%;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 5px 10px;
}

main {
    margin: 69px auto 0 auto;
    max-width: 1200px;
}


/* ==== Utilities ==== */

.bg-image {
    position: absolute;  /* Apply opacity to image but not overlaying content */
    width: 1200px;
    max-width: 100%;
    opacity: 0.4;
}

.overlay-text {
    position: relative;
    z-index: 1;
}


/* ==== Components ==== */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    margin-bottom: 5em;
}

.hero-container .bg-image {
    height: 700px;
}

.hero-container h2 {
    margin-top: 0.4em;
    margin-bottom: 0.6em;
}

.hero-container h4 {
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}


/* ==== Elements ==== */

h1,
h2,
h3,
h4,
h5,
p,
a {
    color: seashell;
    opacity: 0.9;
}

p,
a {
    font-size: 22px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a:link {
    color: seashell;
    text-decoration: underline;
}

a:hover {
    color: lightgray;
}

a:active {
    text-decoration: none;
}


/* ==== Miscellaneous ==== */

#mission .bg-image {
    background-image: url("../images/mission-background.jpg");
}