/* ==== Universal Styles ==== */

* {
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

main {
    margin-top: 69px;
}


/* ==== Elements ==== */

h1,
h2,
h3,
h4,
p,
a {
    color: seashell;
    opacity: 0.9;
}

img {
    opacity: 0.9;
}